{% extends "buyersguide/bg_base.html" %}

{% load wagtailcore_tags bg_selector_tags env l10n i18n localization static wagtailimages_tags %}

{% block social_metadata %}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="{{ lang_code|to_opengraph_locale }}">
  <meta property="wagtail:language" content="{{ lang_code }}">
{% endblock %}

{% block head_extra %}
  <meta property="og:title" content="{% blocktrans context "This can be localized. This is a reference to the “*batteries not included” mention on toys." %}privacy not included - {{ product.title }}{% endblocktrans %}" />
{% endblock %}

{% block social_image %}
  {% if page.search_image %}
    {% image page.search_image original as search_image %}
    <meta property="og:image" content="{{search_image.url}}">
    <meta name="twitter:image" content="{{search_image.url}}">
  {% else %}
    {% static "_images/buyers-guide/evergreen-social.png" as default_image_url %}
    <meta property="og:image" content="{{default_image_url}}">
    <meta name="twitter:image" content="{{default_image_url}}">
  {% endif %}
{% endblock %}

{% block body_id %}product-page{% endblock %}

{% block guts %}
<div class="text-center product-header bg-product-image{% if product.draft %} draft-product{% endif %}">
  <div class="tw-container tw-block medium:tw-grid tw-grid-cols-12 tw-gap-x-6">
    <div class="tw-col-start-3 tw-col-end-11 tw--mx-4 medium:tw--mx-6">
      <div class="tw-w-full  product-header-content {% if product.privacy_ding %}show-privacy-ding{% endif %}">
        <img
          class="thumb-border tw-mx-auto"
          width="250"
          {% image product.image width-250 as img %}
          src="{{ img.url }}"
          alt="{{product.title}}"
        >
      </div>
    </div>
  </div>
</div>
{% with section_class="tw-col-start-3 tw-col-end-11 tw--mx-4 medium:tw--mx-6" %}
<div class="tw-container product-detail tw-block medium:tw-grid tw-grid-cols-12 tw-gap-x-6">
  <div class="{{section_class}} tw-relative">

    {% if product.privacy_ding %}
    <div class="privacy-ding-band tw-px-4 medium:tw-px-6 ">
      <p class="pni-product-smaller-body mb-0 py-2">{% blocktrans %}<strong>Warning</strong>: *privacy not included with this product{% endblocktrans %}</p>
    </div>
    {% endif %}

    <div class="bg-white tw-pb-4 tw-pt-5 tw-px-4 medium:tw-px-6">
      <div class="row intro mb-4">
        <div class="tw-flex tw-gap-2 tw-flex-wrap tw-px-4 tw-mb-4">
          {% for cat in product.product_categories.all %}
            {% with category=cat.category %}
              {% localizedroutablepageurl home_page 'category-view' category.slug as cat_url %}
              <a href="{{cat_url}}" class="category-tag {% if category.parent == None %}category{% else %}subcategory{% endif %} tw-no-underline tw-text-gray-60 border tw-border-gray-20 tw-px-2 tw-py-1 tw-font-sans tw-rounded-3xl tw-font-normal tw-text-[12px] tw-leading-[1.3]">
                {{category.localized.name}}
              </a>
            {% endwith %}
          {% endfor %}
        </div>
        <h1 class="tw-h1-heading col-12">{{product.title}}</h1>
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between">
          <a id="product-company-url" class="company-external-link pni-product-intro-large mb-2 mb-md-0" href="{{product.product_url}}" target="_blank">{{product.company}}</a>
          {% if product.uses_wifi or product.uses_bluetooth %}
            <div>
              {% if product.uses_wifi %}
                <span class="connectivity-requirement use-wifi pni-product-intro-large">{% trans "Wi-Fi" %}</span>
              {% endif %}
              {% if product.uses_bluetooth %}
                <span class="connectivity-requirement use-bluetooth pni-product-intro-large">{% trans "Bluetooth" %}</span>
              {% endif %}
            </div>
          {% endif %}
        </div>
        {% include "fragments/research_details.html" with review_date=product.review_date time_researched=product.time_researched mozilla_says=product.mozilla_says %}
        <div class="col-12 tw-body">{{product.blurb | richtext}}</div>
      </div>

      <div class="row mb-4">
        <div class="col-12 worst-case">
          <h2 class="tw-h3-heading">{% trans "What could happen if something goes wrong?" %}</h2>
          <div class="tw-body">{{product.worst_case | richtext}}</div>
        </div>
      </div>

      {% if product.tips_to_protect_yourself %}
      <div class="row tw-my-5 tips-to-protect-yourself">
        <div class="col-12 tw-py-5 tips">
          <h2 class="tw-h3-heading">{% trans "Tips to protect yourself" %}</h2>
          {{ product.tips_to_protect_yourself | richtext }}
        </div>
      </div>
      {% endif %}


      <div id="product-research" data-is-wagtail-page="true">
      <div id="creepiness-vote">
        <div class="row">
          <div class="col-12">
            <div class="creep-vote-target mb-5 mt-3 mt-md-4 p-5" data-product-name="{{product.title}}" data-product-type="{{product.product_type}}">
              <input type="hidden" name="productID" value="{{ product.id }}">
              <input type="hidden" name="votes" value='{{ product.get_voting_json | safe }}'>
            </div>
        </div>
      </div>
        
        {% include "fragments/product_tab.html" with  product=product %}

        {% if product.updates.count > 0 %}
        <hr class="pni-section-divider"/>
        <h3 id="news" class="tw-h2-heading mb-3">{% trans "News" %}</h3>
          <div class="mb-5">
            {% for item in product.updates.all %}
            {% with update=item.update %}
              <div class="product-update mb-4">
                <a class="product-update-link tw-h5-heading title" href="{{update.source}}" target="_blank">{{update.title}}</a>
                <div class="author">{{update.author}}</div>
                <div class="snippet">{{update.snippet}}</div>
              </div>
            {% endwith %}
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <hr class="pni-section-divider"/>

        <div class="tw-w-full">
          <h3 class="tw-h2-heading mb-4">{% trans "Related products" %}</h3>
          <div class="row">
            {% for related_product_page in product.related_product_pages.all %}
            {% with related_product=related_product_page.related_product.localized %}
            <div class="related-product col-6 col-md-3 mb-3 mb-md-0">
              <a class="d-block{% if related_product.adult_content %} adult-content{% endif %}" href="{% relocalized_url related_product.url %}">
                <div class="img-container">
                  {% image related_product.image width-600 as img %}
                  <img
                    class="product-thumbnail"
                    width="600"
                    loading="lazy"
                    src="{{img.url}}"
                    alt="{{related_product.title}}"
                  >
                </div>
                <p class="tw-body-small mt-3 mb-1">{{related_product.company}}</p>
                <p>{{related_product.title}}</p>
              </a>

              {% include "fragments/privacy_ding.html" with product=related_product %}
              {% include "fragments/adult_content_badge.html" with product=related_product %}
            </div>
            {% endwith %}
            {% endfor %}
          </div>
        </div>




      </div>
    </div>
  </div>
</div>

{% if use_commento %}

<div class="container-fluid position-relative comment-section">
  <div class="row dotted-section d-block d-sm-flex mx-0 mt-5">
    <div class="tw-container tw-block medium:tw-grid tw-grid-cols-12 tw-gap-x-6 tw-z-10 position-relative">
      <div class="{{section_class}}">
        <div class="mt-3 pt-3 bg-white tw-px-4 medium:tw-px-6">

        <h3 class="tw-h2-heading">{% trans "Comments" %}</h3>
        <p class="mb-4">{% trans "Got a comment? Let us hear it." %}</p>
        <div id="commento" data-product-name="{{product.title}}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endwith %}
{% endblock %}

{% block extra_scripts %}
  {% if use_commento %}
    <script async defer data-hide-deleted="true" data-no-fonts="true" src="https://cdn.commento.io/js/commento.js"></script>
  {% endif %}
{% endblock %}
